@model List<Activity>

<div class="col-md-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <i class="far fa-futbol"></i>
                Aktiviteler
            </h4>
            <ul class="solid-bullet-list">
                @foreach (var item in Model)
                {
                    <li>
                        <h5>
                            @item.ActivityTitle
                            <span class="float-right text-muted font-weight-normal small">@item.ActivityTime</span>
                        </h5>
                        <p class="text-muted">@item.ActivityDescription</p>
                        <div class="image-layers">
                            <div class="img-sm profile-image-text bg-warning rounded-circle image-layer-item">M</div>
                            <img class="img-sm rounded-circle image-layer-item" src="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/images/faces/face3.jpg" alt="profile" />
                            <img class="img-sm rounded-circle image-layer-item" src="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/images/faces/face5.jpg" alt="profile" />
                            <img class="img-sm rounded-circle image-layer-item" src="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/images/faces/face8.jpg" alt="profile" />
                        </div>
                    </li>
                    
                }
                
                
            </ul>
            <div class="border-top pt-3">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-dark">Daha Fazla</button>
                    <button class="btn btn-primary btn-icon-text">
                        Yeni Aktivite Oluştur
                        <i class="btn-icon-append fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>